@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-raleway);
}

@layer utilities {
  .backdrop-blur-sm {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}

/* NProgress */
#nprogress {
  .bar {
    background: #ff570c !important;
    height: 5px !important;
  }
  .spinner {
    display: none;
  }
}

// components
@import './components/icons';
@import './components/code-editor';
@import './components/code-display';
@import './components/content';
@import './components/text-editor';
